<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <!-- Genre-related Servlets -->
    <servlet>
        <servlet-name>genreListing</servlet-name>
        <servlet-class>controller.genre.genreListing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGerne</servlet-name>
        <servlet-class>controller.genre.addGerne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateGenre</servlet-name>
        <servlet-class>controller.genre.updateGenre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteGenre</servlet-name>
        <servlet-class>controller.genre.deleteGenre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchGenre</servlet-name>
        <servlet-class>controller.genre.searchGenre</servlet-class>
    </servlet>
    <!-- Product-related Servlets -->
    <servlet>
        <servlet-name>productListing</servlet-name>
        <servlet-class>controller.product.productListing</servlet-class>
    </servlet>
    <!-- Cart-related Servlets -->
    <servlet>
        <servlet-name>getProductMaxQuantity</servlet-name>
        <servlet-class>controller.cart.getProductMaxQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_to_cart_process</servlet-name>
        <servlet-class>controller.cart.add_to_cart_process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer_cart_list</servlet-name>
        <servlet-class>controller.cart.customer_cart_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_cart</servlet-name>
        <servlet-class>controller.cart.delete_cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartQuantityChangeProcess</servlet-name>
        <servlet-class>controller.cart.CartQuantityChangeProcess</servlet-class>
    </servlet>
    <!-- Payment-related Servlets -->
    <servlet>
        <servlet-name>StripePaymentController</servlet-name>
        <servlet-class>controller.payment.StripePaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_process</servlet-name>
        <servlet-class>controller.payment.payment_process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPayment</servlet-name>
        <servlet-class>controller.payment.ConfirmPayment</servlet-class>
    </servlet>
    <!-- Discount-related Servlets -->
    <servlet>
        <servlet-name>discount_manager</servlet-name>
        <servlet-class>controller.discount.discount_manager</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>add_new_discount_product</servlet-name>
        <servlet-class>controller.discount.add_discount_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscountProcess</servlet-name>
        <servlet-class>controller.discount.CreateDiscountProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>discountSwitch</servlet-name>
        <servlet-class>controller.discount.discountSwitch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscount</servlet-name>
        <servlet-class>controller.discount.DeleteDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentSummary</servlet-name>
        <servlet-class>controller.payment.PaymentDisplayProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPaymentDetails</servlet-name>
        <servlet-class>controller.payment.DisplayPaymentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_edit_address</servlet-name>
        <servlet-class>controller.payment.add_edit_address</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>address_process</servlet-name>
        <servlet-class>controller.payment.address_process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>controller.comment.comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submit_comment</servlet-name>
        <servlet-class>controller.comment.submit_comment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>genreListing</servlet-name>
        <url-pattern>/web/genre/list_genre.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGerne</servlet-name>
        <url-pattern>/web/genre/add_genre.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateGenre</servlet-name>
        <url-pattern>/web/genre/edit_genre.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteGenre</servlet-name>
        <url-pattern>/web/genre/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchGenre</servlet-name>
        <url-pattern>/web/genre/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productListing</servlet-name>
        <url-pattern>/web/product/product.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductMaxQuantity</servlet-name>
        <url-pattern>/web/product/add_to_cart.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_to_cart_process</servlet-name>
        <url-pattern>/add_to_cart_process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer_cart_list</servlet-name>
        <url-pattern>/web/customer/list_cart.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_cart</servlet-name>
        <url-pattern>/delete_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartQuantityChangeProcess</servlet-name>
        <url-pattern>/CartQuantityChangeProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StripePaymentController</servlet-name>
        <url-pattern>/web/payment/process.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_process</servlet-name>
        <url-pattern>/web/payment/done_pay.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPayment</servlet-name>
        <url-pattern>/web/payment/confirm_payment.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discount_manager</servlet-name>
        <url-pattern>/web/discount/discount_manager.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_new_discount_product</servlet-name>
        <url-pattern>/web/discount/add_discount_product.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscountProcess</servlet-name>
        <url-pattern>/CreateDiscountProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discountSwitch</servlet-name>
        <url-pattern>/discountSwitch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscount</servlet-name>
        <url-pattern>/DeleteDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSummary</servlet-name>
        <url-pattern>/web/payment/payment_list.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPaymentDetails</servlet-name>
        <url-pattern>/web/payment/payment_details.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_edit_address</servlet-name>
        <url-pattern>/web/payment/add_edit_address.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>address_process</servlet-name>
        <url-pattern>/address_process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/web/comment/comment.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submit_comment</servlet-name>
        <url-pattern>/submit_comment</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
